* {
    margin: 0;
}
body{
    margin: 0px 0px 0px 0px;
    font-family: Lexend;
}
p{
    padding-top: 15px;
    font-weight: 200;
    font-family: Lexend;
    font-size: 16;
    text-align: center;
}
footer{
    background-color: #D8B1BF;
    color: white;
    width: 100%;
    height: 300px;
    border-radius: 35px 35px 0px 0px;
    display: flex;
    margin: 120px auto 0px auto;
}
a{
    color: white;
    text-decoration: none;
}
.headerBlogs
{
    display: flex;
    margin: auto;
    margin-top: 120px;
    width: 1146px;
    height: 53px;
}
.headerBlogPosts
{
    width: 395px;
    height: 53px;
    font-size: 44;
}
.headerOurCollaborations
{
    margin: 1px 0px 26px 365px;
    font-weight: 300;
    color: grey;
    right: auto;
    padding-left: 100px;
}
.collaborationsArticle
{
    width: 1146px;
    height: 502px;
    display: flex;
    margin: 70px auto 0px auto;
}
.collaborations {
    max-width: 100%;
    max-height: 100%;
    width: 362px;
    height: 502px;
    display: block;
    margin: auto;
    font-weight: 300;
    color: grey;
    padding: 0px 30px 0px 0px;
}
.collaborationImage
{
    border-radius: 35px;
    width: 362px;
    height: 287px;
}
.shadow-box
{
    background-color: white;
    border-radius: 35px;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    width: 362px;
    height: 215px;
}
.descriptionBox
{
    width: 312px;
    height: 165px;
    padding: 25px;
}
.descriptionName
{
    font-size: 22px;
    margin: 10px 0px 0px 0px;
    color: black;
}
.description
{
    font-size: 16px;
    margin: 10px 0px 0px 0px;
    font-weight: 300;
}
.seeMore
{
    color: #ff5c7a;
    margin: 20px 0px 0px 0px;
    width: 83px;
    height: 26px;
    font-size: 16px;
    white-space: noWrap;
}
.data
{
    margin: 0;
    color: black;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 0px 0px 140px;
    width: 89px;
    height: 26px;
}
.faviconSize
{
    width: 41px;
    height: 37px;
}
.helloKittyText
{
    padding: 0px;
    font-family: Leckerli One;
    font-size: 31px;
    width: 155px;
    height: 41px;
    margin: 0px 0px 10px 0px;
}
.cuteKitty
{
    font-family: DM Sans;
    width: 260px;
    margin: 19px 0px 0px 0px;
}
.social-networks
{
    margin: 48px 0px 0px 15px;
    width: 30px;
    height: 30px;
}
.underBox
{
    color: white;
    padding-left: 159px;
}
.underText
{
    font-family: Poppins;
}
.footerBox
{
    bottom: 0px;
    display: flex;
    margin: 69px auto auto auto;
}